<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="V1Server" value="http://localhost/VersionOne"/>
		<add key="V1User" value="admin"/>
		<add key="V1Password" value="admin"/>
		<add key="IndexDir" value="..\\Web\\Index"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
